{% extends "base.html" %}
{% block title %}Forbidden - {{ super() }}{% endblock %}
{% block content %}

<section>
    <header>
        <h2>Forbidden</h2>
    </header>

    <p>Sorry, you don't have permission to access the requested resource. This
    may happen if you are attempting to access a section of the site that is
    restricted to users that are both logged in and in a specific group.</p>

    <p>Your attempt to access this protected resource has been logged.</p>
</section>
{% endblock %}
